.git
.github
.keating
.data
.devenv
.direnv
.entire
.media
.thumbnails
.codex
.claude
.cursor
.factory
.gemini
.pi
.zero
.flox

node_modules
**/node_modules
dist
**/dist
.output
**/.output
storybook-static
**/storybook-static

video
docs
test
mobile
desktop

*.log
*.tgz
*.tar.gz
